:root {
    background-color: grey;
}
.header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}
.header_title {
    margin: 0;
}
.header_nav-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header_nav-li {
    display: inline-block;
    margin-right: 10px;
}
.header_nav-li a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: yellow;
}
.home {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
.home_title {
    font-size: 24px;
    margin: 0;
}
.home_ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    font-size: 20px ;
}
.photo {
    display: flex;
    justify-content: space-around;
  }  
  .home_photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

